@model App_data.Models.LoaiSP

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
    App_data.Models.AppDbcontext dBContext = new App_data.Models.AppDbcontext();

}

<h2>Create</h2>

<h4>LoaiSP</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ten" class="control-label"></label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <lable>Ten LoaiSP cha</lable>
                <div>
                    <select class="form-control" asp-for="IdLoaiSPCha">
                        if (loaisp.IdLoaiSPCha == null)
                        {
                        <option value="">Khong co ten cha</option>
                        }
                        @foreach (var loaisp in dBContext.LoaiSPs.ToList())
                        {

                            <option value="@loaisp.Id">@loaisp.Ten</option>
                        }

                    </select>
                </div>
            </div>
            <div class="form-group">
                <lable>Tên Chất Liệu</lable>
                <div>
                    <select class="form-control" asp-for="IdChatLieu">
                        
                        @foreach (var loaisp in dBContext.ChatLieus.ToList())
                        {

                            <option value="@loaisp.Id">@loaisp.Ten</option>
                        }

                    </select>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

