@model App_banAo.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangePassword</h2>

<h4>Doi Mat Khau</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label  class="control-label">Nhap lai mat khau cu</label>
                <input asp-for="PasswordOld" class="form-control" />
                <span asp-validation-for="PasswordOld" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label"> Nhap mat khau moi</label>
                <input asp-for="PasswordNew" class="form-control" />
                <span asp-validation-for="PasswordNew" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Nhap lai mat khau moi</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

