@model App_data.Models.ChatLieu

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChatLieu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt>
            Trạng Thái
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
